*{
    box-sizing: border-box;
}

html, body{
    background-color: var(--color-grey-dark);
    font-family: "source-sans-3", Arial, sans-serif;
    font-size: var(--m);
    font-weight: var(--fw-regular);
}

body{
    margin: 0;
    padding-bottom: var(--xxxl);

    &hr{
        margin: 0;
    }
}

main > *{
    padding: var(--m);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: var(--fw-bold);
    color: var(--color-white);
}


h1{
    margin-top: var(--l);
    font-size: var(--xl);
    margin-bottom: 0;

}

h2{
    margin-left: var(--xxs);
    font-size: var(--l)
}

h3{
    font-size: var(--m);
}

main, footer{
    max-width: 80rem;
    margin: 0 auto;
}

.hidden {
    display: none;
}